# Installing required libraries and files

In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [122]:
df = pd.read_csv('campus.csv')

# Making initial clearings

In [175]:
# checkpoint
check1 = df.copy()

In [124]:
df.head()

,Timestamp,What is your current year of study,What is your current relationship status?,How do you prefer studying before exams?,Do you do competitive programming?,Which hostel do you live in?,What is your gender?,What is your favourite sport?,Favourite hangout place in campus,Which state/union territory do you belong to?,What is your dept?,What is your preferred coding language?,What is your favourite place to eat at IIT Guwahati?,Which is your favourite club in IIT Guwahati?,Are you satisfied in IIT Guwahati,What is your current cpi?
0,2022/08/15 2:57:34 pm GMT+5:30,2nd,In a relationship,Pulling of all nighters :),Yes,NaN,Man,Table tennis,IIT G lake (in front of library),Haryana,CSE,C++,Rolls Mania/Tacos,Octaves,No,9.86
1,2022/08/15 2:57:46 pm GMT+5:30,3rd,Single,Studying on a regular basis,No,Manas,Man,Football,IIT G lake (in front of library),Uttar Pradesh,CST,Python,Hostel Canteen,ml.ai,No,1
2,2022/08/15 2:58:25 pm GMT+5:30,2nd,Single,Studying on a regular basis,No,Disang,Woman,Badminton,IIT G lake (in front of library),West Bengal,ECE,C,Hostel Mess,Robotics,Maybe,9.3
3,2022/08/15 2:59:33 pm GMT+5:30,2nd,Single,Pulling of all nighters :),No,NaN,Man,Football,IIT G lake (in front of library),The Government of NCT of Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,2022/08/15 3:01:10 pm GMT+5:30,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IIT G lake (in front of library),Uttar Pradesh,NaN,Java,Hostel Canteen,ml.ai,Yes,8.83

In [125]:
df.drop(axis=1, inplace=True, columns='Timestamp')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 15 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   What is your current year of study                    223 non-null    object
 1   What is your current relationship status?             225 non-null    object
 2   How do you prefer studying before exams?              227 non-null    object
 3   Do you do competitive programming?                    227 non-null    object
 4   Which hostel do you live in?                          220 non-null    object
 5   What is your gender?                                  224 non-null    object
 6   What is your favourite sport?                         194 non-null    object
 7   Favourite hangout place in campus                     217 non-null    object
 8   Which state/union territory do you belong to?         218 non-null    object
 9   What is your dept?                                    216 non-null    object
 10  What is your preferred coding language?               218 non-null    object
 11  What is your favourite place to eat at IIT Guwahati?  211 non-null    object
 12  Which is your favourite club in IIT Guwahati?         213 non-null    object
 13  Are you satisfied in IIT Guwahati                     225 non-null    object
 14  What is your current cpi?                             226 non-null    object
dtypes: object(15)
memory usage: 26.7+ KB

In [127]:
print("All column names\n\n")
print(df.columns.values)

All column names


['What is your current year of study'
 'What is your current relationship status?'
 'How do you prefer studying before exams?'
 'Do you do competitive programming?' 'Which hostel do you live in?'
 'What is your gender?' 'What is your favourite sport?'
 'Favourite hangout place in campus'
 'Which state/union territory do you belong to?' 'What is your dept?'
 'What is your preferred coding language?'
 'What is your favourite place to eat at IIT Guwahati?'
 'Which is your favourite club in IIT Guwahati?'
 'Are you satisfied in IIT Guwahati' 'What is your current cpi?']

In [128]:
# Renaming columns
df.rename(columns = {'What is your current year of study':'year', 
                     'What is your current relationship status?': 'relationship',
                     'How do you prefer studying before exams?': 'study',
                     'Do you do competitive programming?': 'CP',
                     'Which hostel do you live in?': 'hostel',
                     'What is your gender?': 'gender',
                     'What is your favourite sport?': 'sport',
                     'Favourite hangout place in campus': 'hangout_spot',
                     'Which state/union territory do you belong to?': 'state',
                     'What is your dept?': 'dept',
                     'What is your preferred coding language?': 'coding_lang',
                     'What is your favourite place to eat at IIT Guwahati?': 'fav_place_to_eat',
                     'Which is your favourite club in IIT Guwahati?': 'fav_club',
                     'Are you satisfied in IIT Guwahati': 'satisfied',
                     'What is your current cpi?': 'cpi'}, inplace = True)

In [129]:
print(df.shape)
df.head()

(227, 15)

,year,relationship,study,CP,hostel,gender,sport,hangout_spot,state,dept,coding_lang,fav_place_to_eat,fav_club,satisfied,cpi
0,2nd,In a relationship,Pulling of all nighters :),Yes,NaN,Man,Table tennis,IIT G lake (in front of library),Haryana,CSE,C++,Rolls Mania/Tacos,Octaves,No,9.86
1,3rd,Single,Studying on a regular basis,No,Manas,Man,Football,IIT G lake (in front of library),Uttar Pradesh,CST,Python,Hostel Canteen,ml.ai,No,1
2,2nd,Single,Studying on a regular basis,No,Disang,Woman,Badminton,IIT G lake (in front of library),West Bengal,ECE,C,Hostel Mess,Robotics,Maybe,9.3
3,2nd,Single,Pulling of all nighters :),No,NaN,Man,Football,IIT G lake (in front of library),The Government of NCT of Delhi,NaN,Python,Food Court,Coding Club,Maybe,7.5
4,NaN,Single,Studying on a regular basis,No,Lohit,Man,Cricket,IIT G lake (in front of library),Uttar Pradesh,NaN,Java,Hostel Canteen,ml.ai,Yes,8.83

In [151]:
small=df.columns.values
for col in small:
    print(df.value_counts(col))
    print(' ')

year
2.0    162
3.0     32
4.0     20
1.0      8
Name: count, dtype: int64

relationship
single          157
relationship     41
complicated      26
Name: count, dtype: int64

study
all_nighter    123
regular        103
Name: count, dtype: int64

CP
1    130
0     96
Name: count, dtype: int64

hostel
Disang         44
Brahmaputra    35
Lohit          31
Barak          20
Umiam          16
Manas          14
Dhansiri       12
Kapili         11
Kameng         10
Siang          10
Dihing          8
Subansiri       6
Name: count, dtype: int64

gender
Man                  180
Woman                 36
Prefer not to say      5
Non-binary             2
Name: count, dtype: int64

sport
Cricket          27
Badminton        20
Badminton        15
Football         13
Cricket           9
                 ..
Athletic          1
No sport lol      1
Nothing           1
People Gazing     1
tt                1
Name: count, Length: 63, dtype: int64

hangout_spot
IITG lake         46
New Sac           36
Hostel Canteen    25
Others            24
Khoka             22
Playgrounds       20
Serpentine        18
Food Court        11
Tihor lake         9
Old Sac            3
Market Complex     2
Name: count, dtype: int64

state
Uttar Pradesh                  30
Maharashtra                    30
Bihar                          21
Rajasthan                      15
Madhya Pradesh                 15
Delhi                          12
West Bengal                    11
Haryana                        11
Telangana                       9
Gujarat                         9
Andhra Pradesh                  8
Assam                           6
Tamil Nadu                      5
Punjab                          5
Kerala                          4
Karnataka                       4
Jharkhand                       4
Chhattisgarh                    4
Odisha                          3
Uttarakhand                     3
Himachal Pradesh                1
Puducherry                      1
Goa                             1
Daman & Diu                     1
Chandigarh                      1
Tripura                         1
Arunachal Pradesh               1
Andaman and Nicobar Islands     1
Name: count, dtype: int64

dept
CSE     58
ECE     34
ME      26
EEE     22
CST     18
BSBE    13
MnC     12
CL       9
DSAI     9
CE       8
EP       6
Name: count, dtype: int64

coding_lang
C++       141
Python     40
C          22
Java        9
Others      5
Name: count, dtype: int64

fav_place_to_eat
Food Court                    56
Khoka                         38
Rolls Mania/Tacos             37
Hostel Canteen                30
Hostel Mess                   23
Others                        11
Core Canteen                   9
Nonveg stalls near library     6
Name: count, dtype: int64

fav_club
Coding Club                 85
E cell                      17
Finance and Economics       10
ml.ai                        9
Cadence                      9
Consulting and Analytics     9
Xpressions                   8
iitg.ai                      8
Robotics                     7
Aeromodelling                7
IITG Racing                  6
Alcher                       5
Equinox                      5
Game dev and E-sports        4
Montage                      4
Octaves                      4
Acumen(Quiz Club)            3
Anchoring Club               2
Lit Soc                      2
Palates                      2
Prakriti                     2
4i labs                      1
Whitespace                   1
Electronics Club             1
Fine Arts club               1
Name: count, dtype: int64

satisfied
Yes      126
Maybe     68
No        30
Name: count, dtype: int64

cpi
7.00    9
7.80    7
8.50    7
7.90    7
8.38    5
       ..
8.05    1
8.01    1
7.99    1
7.98    1
9.90    1
Name: count, Length: 118, dtype: int64

# Replacing entries with more workable values

In [131]:
df['relationship'].replace('In a relationship', 'relationship', inplace=True)
df['relationship'].replace("It's complicated", 'complicated', inplace=True)
df['relationship'].replace("Single", 'single', inplace=True)

In [132]:
df['year'].replace('1st', 1, inplace=True)
df['year'].replace('2nd', 2, inplace=True)
df['year'].replace('3rd', 3, inplace=True)
df['year'].replace('4th', 4, inplace=True)

In [133]:
df['study'].replace('Pulling of all nighters :)', 'all_nighter', inplace=True)
df['study'].replace('Studying on a regular basis', 'regular', inplace=True)

In [134]:
df['CP'].replace("Yes", 1, inplace=True)
df['CP'].replace("No", 0, inplace=True)

In [135]:
df['hangout_spot'].replace("IIT G lake (in front of library)", "IITG lake", inplace=True)
df['hangout_spot'].replace("Serpentine Lake 😏", "Serpentine", inplace=True)
df['hangout_spot'].replace("Lake in front of the hospital", "Tihor lake", inplace=True)

In [140]:
df['state'].replace("The Government of NCT of Delhi", "Delhi", inplace=True)
df['dept'].replace("Dsai", "DSAI", inplace=True)

In [137]:
null_cpi = ["😂😂😂😂","noooooooooooo",'1st year Student. So CPI "0"','1','Bruh','1107.87','-','Currently in 1st sem','na','69','0','100','I prefer not to say', '11', '11.97', '10']
df['cpi'].replace(null_cpi, np.nan, inplace=True)
df['cpi'].replace('Between 8 and 9', 8.5, inplace=True)
df['cpi'].replace('8+', 8.1, inplace=True)
df['cpi'].replace('7+🤣', 7.1, inplace=True)
df['cpi'] = pd.to_numeric(df['cpi'])

In [145]:
df['hostel'].replace("Bhramaputra", "Brahmaputra", inplace=True)
df['hostel'].replace("Dibang", np.nan, inplace=True)

In [149]:
df[df['dept']=='HSS']

,year,relationship,study,CP,hostel,gender,sport,hangout_spot,state,dept,coding_lang,fav_place_to_eat,fav_club,satisfied,cpi
66,4.0,complicated,regular,0,Kameng,Non-binary,Barricade riding,Playgrounds,Andaman and Nicobar Islands,HSS,Python,Hostel Mess,Palates,No,4.07

In [150]:
# dropping this fellow because he is just a menace
df = df[df['dept'] != 'HSS']

In [153]:
df['fav_club'].replace('ml.ai', 'iitg.ai', inplace=True)

In [183]:
pd.set_option('display.max_rows', None)
print(df.value_counts(['sport']))

sport
Cricket                                40
Badminton                              37
TT                                     18
Swimming                               15
Football                               13
Basketball                              8
Chess                                   8
Tennis                                  5
Athletics                               4
Volleyball                              4
Basketball                              3
Football                                3
basketball                              2
Volleyball                              2
Swimming, Badminton                     1
Archery                                 1
WWE                                     1
Running                                 1
chess                                   1
futbol                                  1
Squash                                  1
Gym                                     1
Kabaddi                                 1
Handball                                1
Gymnastics                              1
Athletic                                1
Figure Skating                          1
Drone racing                            1
Dodgeball                               1
Cricket, Volleyball                     1
Cricket, Football, Swimming, Tennis     1
Cricket, Badminton                      1
Bike riding                             1
hockey                                  1
Name: count, dtype: int64

In [182]:
null_sports = ['Sex', 'none','Nothing','Bro?','No sport lol','People Gazing','Na','Playing with my mental health','Coding','Genshin Impact']
tt=['tt', 'table tennis ','table tennis','Table Tennis', 'Table Tennis ', 'Table tennis', 'Table tennis ']
df['sport'].replace(null_sports, np.nan, inplace=True)
df['sport'].replace(tt, 'TT', inplace=True)
df['sport'].replace(['LT', 'Tennis '], 'Tennis', inplace=True)
df['sport'].replace(['GYMMING', 'GYMMING '], 'Gym', inplace=True)
df['sport'].replace(['Athletic', 'Athletics '], 'Athletics', inplace=True)
df['sport'].replace(['Cricket ', 'cricket', 'CRICKET', 'Bat-Ball'], 'Cricket', inplace=True)
df['sport'].replace(['Badminton lol', 'Badminton ', 'badminton'], 'Badminton', inplace=True)
df['sport'].replace(['swimming ', 'Swimming ', 'swimming'], 'Swimming', inplace=True)
df['sport'].replace('Cricket, Football, Swimming, Tennis.', 'Cricket, Football, Swimming, Tennis', inplace=True)
df['sport'].replace('Cricket,badminton', 'Cricket, Badminton', inplace=True)
df['sport'].replace('Cricket,volleyball', 'Cricket, Volleyball', inplace=True)
df['sport'].replace('Swimming and badminton', 'Swimming, Badminton', inplace=True)
df['sport'].replace('to watch is cricket and basketball, to play is volleyball', 'Volleyball', inplace=True)